

h1{
    color:#000000;
    text-align: center;
    text-shadow: 0 0 2px;
    font-family:futura;
    font-size: 50px    
}
#f{
    color:#A52A2A;
    text-align: center;
    text-shadow: 0 0 2px;
    font-family:futura;
    font-size: 50px 
}
span{
    
    }
}
#img{
    border:10px solid #021a40;
    
}
#p2{
    font-family: Avenir;
    font-size: 35px;
    ;
}
p{
    font-family:Avenir;
    font-size:20px;
}
