h1{
    color:#55bada;
    text-align: center;
    text-shadow: 0 0 2px;
    font-family:futura;
        
}
span{
    
    }
}
#img{
    border:10px solid #021a40;
    
}
#p2{
    font-family: Avenir;
    font-size: 35px;
    text-decoration:underline;
}
p{
    font-family:Avenir;
    font-size:20px;
}
